<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#111111">
	<title>Admin</title>
	<link rel="stylesheet" href="css/vendor.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div class="page">
		<header class="header-admin">
			<div class="header-admin__left">
				<a href="personal-area.html" class="header-admin__logo">
					apipay.is
				</a>
				<div class="burger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="header-admin__static">
				<div class="header-title">
					<span>Главная</span>
					<span></span>
				</div>
			</div>
			<div class="header-profile">
				<div class="hero__pay-cur-outer pay-cur-outer">
					<div class="pay-cur">
						<img src="img/lang.svg" alt="img">
						<span class="pay-cur-span lang">укр.</span>
						<img src="img/arrow-down.svg" alt="img">
					</div>
					<ul class="pay-cur-list lang-list">
						<li class="lang-item">
							укр.
						</li>
						<li class="lang-item">
							рус.
						</li>
					</ul>
				</div>
				<div class="profile-main__btn profile-hover">
					<div class="profile__inner">
						<img class="profile__icon1" loading="lazy" src="img/avatar.svg" alt="">
						<span class="profile__text">Mrvintage</span>
						<img class="profile__icon2" loading="lazy" src="img/settings.png" alt="">
					</div>
				</div>
				<div class="profile__content">
					<a href="pc-profile.html" class="profile__btn profile-hover">
						<img class="profile__icon3" loading="lazy" src="img/profile.png" alt="">
						<span class="profile__btn-text profile__btn-text--one">Профиль</span>
					</a>
					<a href="pc-alert.html" class="profile__btn profile-hover">
						<img class="profile__icon3" loading="lazy" src="img/alert.png" alt="">
						<span class="profile__btn-text">Оповещения</span>
					</a>
					<a href="pc-protect.html" class="profile__btn profile-hover">
						<img class="profile__icon3" loading="lazy" src="img/protect.png" alt="">
						<span class="profile__btn-text">Безопасность</span>
					</a>
					<a href="pc-api.html" class="profile__btn profile-hover">
						<img class="profile__icon3" loading="lazy" src="img/api.png" alt="">
						<span class="profile__btn-text">API ключи</span>
					</a>
					<a href="password.html" class="profile__btn profile-hover">
						<img class="profile__icon3" loading="lazy" src="img/password.png" alt="">
						<span class="profile__btn-text">Изменить пароль</span>
					</a>
					<button class="profile__btn profile-hover">
						<img class="profile__icon3" loading="lazy" src="img/exit.png" alt="">
						<span class="profile__btn-text">Выйти</span>
					</button>
				</div>
			</div>

		</header>


		<div class="navigation">
			<a class="navigation__link" href="admin-currencies.html">Админка валюты</a>
			<a class="navigation__link" href="admin-direction.html">Направление обмена</a>
			<a class="navigation__link" href="admin-transactions.html">Админка транзакции</a>
			<a class="navigation__link" href="admin-users.html">Админка обмен валю пользователи</a>
			<a class="navigation__link" href="admin.html">Админка</a>
			<a class="navigation__link" href="arbitrary-payment-link.html">Лк произвольный платеж ссылка</a>
			<a class="navigation__link" href="arbitrary-payment.html">Лк произвольный платеж</a>
			<a class="navigation__link" href="conclusions.html">Админка вывод</a>
			<a class="navigation__link" href="discount.html">Лк скидка</a>
			<a class="navigation__link" href="exchange-requests.html">Админка обмен валю заявки</a>
			<a class="navigation__link" href="index.html">главная</a>
			<a class="navigation__link" href="main-arbitrary-payment.html">главная Произвольный платеж</a>
			<a class="navigation__link" href="main-arbitrary-payment2.html">главная Произвольный платеж2</a>
			<a class="navigation__link" href="main-exchange.html">Главная обмен 2</a>
			<a class="navigation__link" href="main-exchange2.html">Главная обмен 3</a>
			<a class="navigation__link" href="output-create.html">Лк вывод</a>
			<a class="navigation__link" href="output.html">Лк вывод история</a>
			<a class="navigation__link" href="payment.html">Лк вывод масов</a>
			<a class="navigation__link" href="pc-profile.html">Лк профиль</a>
			<a class="navigation__link" href="pc-transactions.html">Лк транзакции</a>
			<a class="navigation__link" href="personal-area.html">Лк</a>
			<a class="navigation__link" href="ref-prog-settings.html">Админка валюты партнерка</a>
			<a class="navigation__link" href="sample.html">Лк вывод шаблоны</a>
			<a class="navigation__link" href="user-page.html">Админка пользователи</a>

		</div>

		<nav class="nav">
			<ul class="nav__list ">
				<li class="nav__item">
					<img src="img/home.svg" alt="img">
					<a href="personal-area.html" class="nav__link">Главная</a>
				</li>
				<li class="nav__item">
					<img src="img/exch.svg" alt="img">
					<a href="exchange.html" class="nav__link">Обмен</a>
				</li>
				<li class="nav__item">
					<img src="img/transfers.svg" alt="img">
					<a href="transfers.html" class="nav__link">Переводы</a>
				</li>
				<li class="nav__item">
					<img src="img/pay-code.svg" alt="img">
					<a href="pay-code.html" class="nav__link">Pay-Code</a>
				</li>
				<li class="nav__item">
					<img src="img/story.svg" alt="img">
					<a href="pc-transactions.html" class="nav__link ">История</a>
				</li>
				<li class="nav__item">
					<img src="img/withdrawal.svg" alt="img">
					<span class="nav__link ">Выводы</span>
					<ul class="submenu">
						<li class="submenu__item">
							<a href="output-create.html" class="submenu__link ">Создать</a>
						</li>
						<li class="submenu__item">
							<a href="output.html" class="submenu__link ">История</a>
						</li>
						<li class="submenu__item">
							<a href="payment.html" class="submenu__link ">Массовые выплаты</a>
						</li>
						<li class="submenu__item">
							<a href="sample.html" class="submenu__link ">Шаблоны</a>
						</li>
						<li class="submenu__item">
							<a href="discount.html" class="submenu__link ">Скидка</a>
						</li>
					</ul>
				</li>
				<li class="nav__item">
					<img src="img/verify.svg" alt="img">
					<a href="verify.html" class="nav__link ">Верификация</a>
				</li>
				<li class="nav__item">
					<img src="img/payment.svg" alt="img">
					<a href="arbitrary-payment.html" class="nav__link @link6">Произвольный платеж</a>
				</li>
				<li class="nav__item">
					<img src="img/news.svg" alt="img">
					<a href="news.html" class="nav__link @link7">Новости</a>
				</li>
			</ul>
			<a class="nav__link nav__link--bottom" href="https://docs.apipay.is">Документация</a>
			<a class="nav__link nav__link--bottom" href="#">Техническая поддержка</a>
		</nav>



		<div class="page-body">

			<div class="page-content">
				<section class="static">
					<div class="turn-system">

						<div class="static-table admin-table user__table">
							<div class="admin-table__row row-title">
								<div class="admin-table__first">
									Валюта
								</div>
								<div class="admin-table__two">
									Всего
								</div>

								<div class="admin-table__three">
									Доступно
								</div>
								<div class="admin-table__five">
									Действия
								</div>
							</div>
							<div class="admin-table__row">
								<div class="admin-table__first">
									<img src="img/turn-system__item--icon.png" alt="img">
									uah
								</div>
								<div class="admin-table__two">
									1820.22
								</div>

								<div class="admin-table__three">
									1820.22
								</div>
								<div class="admin-table__five">
									<button
										class="admin-table__action gradi-btn btn-hover2 top-up-tr">Пополнить</button>
									<button class="admin-table__action gradi-btn btn-hover2">Вывод</button>
									<button class="admin-table__action gradi-btn btn-hover2">Обменять</button>
								</div>
							</div>
							<div class="admin-table__row">
								<div class="admin-table__first">
									<img src="img/turn-system__item--icon2.png" alt="img">
									rub
								</div>
								<div class="admin-table__two">
									1820.22
								</div>

								<div class="admin-table__three">
									1820.22
								</div>
								<div class="admin-table__five">
									<button
										class="admin-table__action gradi-btn btn-hover2 top-up-tr">Пополнить</button>
									<button class="admin-table__action gradi-btn btn-hover2">Вывод</button>
									<button class="admin-table__action gradi-btn btn-hover2">Обменять</button>
								</div>
							</div>
							<div class="admin-table__row">
								<div class="admin-table__first">
									<img src="img/turn-system__item--icon9.png" alt="img">
									usd
								</div>
								<div class="admin-table__two">
									1820.22
								</div>

								<div class="admin-table__three">
									1820.22
								</div>
								<div class="admin-table__five">
									<button
										class="admin-table__action gradi-btn btn-hover2 top-up-tr">Пополнить</button>
									<button class="admin-table__action gradi-btn btn-hover2">Вывод</button>
									<button class="admin-table__action gradi-btn btn-hover2">Обменять</button>
								</div>
							</div>
							<div class="admin-table__row">
								<div class="admin-table__first">
									<img src="img/turn-system__item--icon3.png" alt="img">
									btc
								</div>
								<div class="admin-table__two">
									0.000000
								</div>

								<div class="admin-table__three">
									0.000000
								</div>
								<div class="admin-table__five">
									<button
										class="admin-table__action gradi-btn btn-hover2 top-up-cr">Пополнить</button>
									<button class="admin-table__action gradi-btn btn-hover2">Вывод</button>
									<button class="admin-table__action gradi-btn btn-hover2">Обменять</button>
								</div>
							</div>
							<div class="admin-table__row">
								<div class="admin-table__first">
									<img src="img/turn-system__item--icon4.png" alt="img">
									usdt
								</div>
								<div class="admin-table__two">
									0.000000
								</div>

								<div class="admin-table__three">
									0.000000
								</div>
								<div class="admin-table__five">
									<button
										class="admin-table__action gradi-btn btn-hover2 top-up-cr">Пополнить</button>
									<button class="admin-table__action gradi-btn btn-hover2">Вывод</button>
									<button class="admin-table__action gradi-btn btn-hover2">Обменять</button>
								</div>
							</div>
							<div class="admin-table__row">
								<div class="admin-table__first">
									<img src="img/turn-system__item--icon5.png" alt="img">
									eth
								</div>
								<div class="admin-table__two">
									0.000000
								</div>

								<div class="admin-table__three">
									0.000000
								</div>
								<div class="admin-table__five">
									<button
										class="admin-table__action gradi-btn btn-hover2 top-up-cr">Пополнить</button>
									<button class="admin-table__action gradi-btn btn-hover2">Вывод</button>
									<button class="admin-table__action gradi-btn btn-hover2">Обменять</button>
								</div>
							</div>
							<div class="admin-table__row">
								<div class="admin-table__first">
									<img src="img/turn-system__item--icon6.png" alt="img">
									usdt
								</div>
								<div class="admin-table__two">
									0.000000
								</div>

								<div class="admin-table__three">
									0.000000
								</div>
								<div class="admin-table__five">
									<button
										class="admin-table__action gradi-btn btn-hover2 top-up-cr">Пополнить</button>
									<button class="admin-table__action gradi-btn btn-hover2">Вывод</button>
									<button class="admin-table__action gradi-btn btn-hover2">Обменять</button>
								</div>
							</div>
							<div class="admin-table__row">
								<div class="admin-table__first">
									<img src="img/turn-system__item--icon7.png" alt="img">
									usdt
								</div>
								<div class="admin-table__two">
									0.000000
								</div>

								<div class="admin-table__three">
									0.000000
								</div>
								<div class="admin-table__five">
									<button
										class="admin-table__action gradi-btn btn-hover2 top-up-cr">Пополнить</button>
									<button class="admin-table__action gradi-btn btn-hover2">Вывод</button>
									<button class="admin-table__action gradi-btn btn-hover2">Обменять</button>
								</div>
							</div>
							<div class="admin-table__row">
								<div class="admin-table__first">
									<img src="img/turn-system__item--icon8.png" alt="img">
									usdt
								</div>
								<div class="admin-table__two">
									0.000000
								</div>

								<div class="admin-table__three">
									0.000000
								</div>
								<div class="admin-table__five">
									<button
										class="admin-table__action gradi-btn btn-hover2 top-up-cr">Пополнить</button>
									<button class="admin-table__action gradi-btn btn-hover2">Вывод</button>
									<button class="admin-table__action gradi-btn btn-hover2">Обменять</button>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="chart">
						<div class="chart__title title fz18">
							Транзакции
							<span>история транзакций</span>
						</div>
						<div class="chart__block">
							<img loading="lazy" src="img/chart.png" alt="img">
						</div>
					</div>
					<div class="replenish">
						<div class="replenish__wrapper">
							<div class="replenish__block">
								<div class="replenish__block--title title fz14">
									Пополнение кошелька
								</div>
								<div class="tabs-wrapper tab-link-wrapper">
									<a class="tab tab-active" href="#tab-1">
										<span>Статусы транзакций</span>
									</a>
									<a class="tab" href="#tab-2">
										<span>Неуспешные транзакции</span>
									</a>
								</div>
								<div class="tabs-wrapper tab-content-wrapper">
									<div id="tab-1" class="tabs-content tabs-content-active">
										<div class="replenish__grid">
											<div class="replenish__grid--row row-title">
												<span class="status">Статус</span>
												<span class="quality">Количество</span>
												<span class="sum">Сумма</span>
												<span class="percent">%</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status pending">Ожидает</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
										</div>
									</div>
									<div id="tab-2" class="tabs-content">
										<div class="replenish__grid">
											<div class="replenish__grid--row row-title">
												<span class="status">Статус</span>
												<span class="quality">Количество</span>
												<span class="sum">Сумма</span>
												<span class="percent">%</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status pending">Ожидает</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status pending">Ожидает</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status pending">Ожидает</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="replenish__block">
								<div class="replenish__block--title title fz14">
									Пополнение карты
								</div>
								<div class="tabs-wrapper tab-link-wrapper">
									<a class="tab tab-active" href="#tab-3">
										<span>Статусы транзакций</span>
									</a>
									<a class="tab" href="#tab-4">
										<span>Неуспешные транзакции</span>
									</a>
								</div>
								<div class="tabs-wrapper tab-content-wrapper">
									<div id="tab-3" class="tabs-content tabs-content-active">
										<div class="replenish__grid">
											<div class="replenish__grid--row row-title">
												<span class="status">Статус</span>
												<span class="quality">Количество</span>
												<span class="sum">Сумма</span>
												<span class="percent">%</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status pending">Ожидает</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
										</div>
									</div>
									<div id="tab-4" class="tabs-content">
										<div class="replenish__grid">
											<div class="replenish__grid--row row-title">
												<span class="status">Статус</span>
												<span class="quality">Количество</span>
												<span class="sum">Сумма</span>
												<span class="percent">%</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status pending">Ожидает</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status pending">Ожидает</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status pending">Ожидает</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
											<div class="replenish__grid--row">
												<span class="status done">Выполнен</span>
												<span class="quality">25</span>
												<span class="sum">1452 руб.</span>
												<span class="percent">1</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</section>
			</div>

		</div>

		<div class="popup top-up-modal top-up-tr-modal">
			<div class="popup__inner">
				<span class="popup__close popup__close--authorization"></span>
				<h2 class="popup__title title-main fz27">Пополнить</h2>
				<label class="checkbox-block checkbox-block-cur authorization-checkbox">
					<div class="checkbox-img-outer uah">
						Visa Mastercard
						<img src="img/card-white.svg" alt="img">
					</div>
					<input class="checkbox " type="checkbox" checked>
				</label>
				<label class="hero__pay-input-outer pay-input-outer">
					<span class="hero__pay-input-sup pay-input-sup">Сумма</span>
					<div class="flex">
						<input class="hero__pay-input pay-input pay-input-c popup__input" type="number"
							placeholder="0.00">
					</div>

					<label class="checkbox-block authorization-checkbox">
						<input class="checkbox " type="checkbox">
						<a href="agreement" class="checkbox__text">
							Принимаю Пользовательское соглашение</a>
					</label>
				</label>

				<button class="hero__pay-btn pay-btn main__btn">
					Пополнить
				</button>
			</div>
		</div>

		<div class="popup top-up-modal top-up-cr-modal">
			<div class="popup__inner">
				<span class="popup__close popup__close--authorization"></span>
				<h2 class="popup__title title-main fz27">Пополнить</h2>

					<label class="checkbox-block checkbox-block-cur authorization-checkbox">
						<div class="checkbox-img-outer btc">
							<img src="img/btc.svg" alt="img">
						</div>
						<input class="checkbox " type="checkbox" checked>
					</label>

				<label class="hero__pay-input-outer pay-input-outer">
					<span class="hero__pay-input-sup pay-input-sup">Адрес</span>
					<input class="hero__pay-input pay-input popup__input" type="text" value="bsdfwt2t2r4gqwegvsbebnw4t324231">
				</label>
				<button class="hero__pay-btn pay-btn main__btn">
					Скопировать
				</button>
			</div>
		</div>
	</div>
	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>

</html>